// Fade
.v-enter-active,
.v-leave-active,
.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.v-enter-from,
.v-leave-to,
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// right-to-left
.rtl-slide-enter-active,
.rtl-slide-leave-active {
	transform: translateX(0);
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}

.rtl-slide-enter-from,
.rtl-slide-leave-to {
	transform: translateX(2vh);
	opacity: 0;
}

// left-to-right
.ltr-slide-enter-active,
.ltr-slide-leave-active {
  transform: translateX(0);
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}

.ltr-slide-enter-from,
.ltr-slide-leave-to {
  transform: translateX(-2vh);
	opacity: 0;
}

// top-to-bottom
.ttb-slide-enter-active,
.ttb-slide-leave-active {
  transform: translateY(0);
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}

.ttb-slide-enter-from,
.ttb-slide-leave-to {
  transform: translateY(-20vh);
	opacity: 0;
}

// bottom-to-top
.btt-slide-enter-active,
.btt-slide-leave-active {
  transform: translateY(0);
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}

.btt-slide-enter-from,
.btt-slide-leave-to {
	transform: translateY(20vh);
	opacity: 0;
}

// bottom-to-top
.btt-slide-enter-active,
.btt-slide-leave-active {
  transform: scale(0);
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}

.btt-slide-enter-from,
.btt-slide-leave-to {
	transform: scale(1.2);
	opacity: 0;
}